<%- include("partials/header"); -%>

<div class="feedback">
  <h1>BOOKING DETAILS</h1>
  <% for(booking of bookingdetails){%>
  <div class="inputarea">
    <form action="/editbooking" method="post">
      <input type="hidden" name="wid" value="<%=booking.workerid%>" />
      <input type="hidden" name="uid" value="<%=booking.clientid%>" />

      <input type="time" name="bookstarttime" value="<%=booking.starttime%>" />
      <input type="time" name="bookendtime" value="<%=booking.endtime%>" />
      <input
        type="text"
        name="address"
        placeholder="Address"
        value="<%=booking.address%>"
      />
      <%}%>
      <input type="date" name="bookdate" value="<%=bookingdate%>" />
      <button class="btn btn-lg btn-dark">SUBMIT</button>
    </form>
  </div>

  <h3><%=message%></h3>
</div>

<%- include("partials/footer"); -%>
